@import "tailwindcss";


#app {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 100%;
}

p {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
}

h1 {
  font-family: 'Bebas neue', sans-serif;
  line-height: 1.5;
  font-weight: 300;
}

h2 {
  font-family: 'Lora', sans-serif;
  line-height: 1.5;
  font-weight: 300;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}


@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: myAnim 2s ease 0s 1 normal forwards;
}


